<template>
    <lightning-card title="Address Lookup using Google Maps Places API">
       <lightning-input-address  address-label="Shipping Address"
          street-label="Street"
          city-label="City"
          country-label="Country"
          province-label="Province"
          postal-code-label="PostalCode"
          street="Default Street Line"
          city=""
          country=""
          province=""
          postal-code=""
          required
          field-level-help="Select Shipping Address"
          show-address-lookup>
       </lightning-input-address>
    </lightning-card>
 </template